h2.block__title {
  letter-spacing: -0.01em;
  font-size: 1.5rem;
  line-height: var(--sp2);
  color: var(--color--black);
  padding-left: 36px;
  border-left: 6px solid var(--color--primary-50);

  @media (min-width: 43.75rem) {
    font-size: 2.25rem;
    line-height: var(--sp3);
    margin-block-end: var(--sp2);
  }
}

#block-drupaltv-page-title > h1, .card__title {color: var(--color-4bc1f0) !important;}

#block-drupaltv-footer-menu > ul > li > a


{
padding-right:1rem !important;
}
h2.block__title{
    font-size: 2.5rem;
    color: bisque;
}

#block-drupaltv-footer-menu > ul > li > a {display: inline-flex;}


a:hover.secondary-nav__menu-link {color:var(--color-ffe4c4)}

.chat-container
{background:var(--color-2a2b55) !important;}

.page-title {
    color: var(--color-4bc1f0) !important;
}
